/* Base Styles */
body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    color: #ccc;
    background-color: #121212;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 50px;
    margin-right: 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 20px; /* Add padding to shift buttons to the left */
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    display: block; /* Make the anchor a block element */
    text-decoration: none;
    color: #f1c40f;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.nav-menu a:hover {
    background-color: #2e2e2e;
    transform: scale(1.05);
    border-radius: 15px;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #f1c40f;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: #1c1c1c;
        width: 200px;
        height: calc(100vh - 60px);
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-menu.active {
        transform: translateX(0);
    }

    .nav-menu li {
        margin: 10px 0;
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .burger {
        display: flex;
        padding-right: 40px;
    }

    .info-box-header, .info-box-normal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-box-header .info-box-image, .info-box-normal .info-box-image {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .info-box-header .info-box-text, .info-box-normal .info-box-text {
        padding-left: 0;
    }
}

/* Header Section */
.header-section {
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #4A4A4A 0%, #1c1c1c 100%);
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

@media (max-width: 768px) {
    .header-section {
        padding-top: 450px;
        height: 130vh;
    }
}

.typing-animation {
    font-size: 4.5em;
    font-weight: bold;
    color: #f1c40f;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #f1c40f;
    animation: typing 6.5s steps(15, end) infinite, blink-caret 0.75s step-end infinite;
    font-family: 'Roboto Mono', monospace;
}

@media (max-width: 768px) {
    .typing-animation {
        font-size: 3em;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .slogan {
        font-size: 1.2em !important;
        text-align: center;
    }
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-content p {
    font-size: 1.5em;
    margin: 20px 0;
    padding-bottom: 150px;
}

/* Info Sections */
.header-info, .info-section, .about-me, .achievements {
    padding: 60px 20px;
}

.info-box-header {
    display: flex;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 200px;
    text-align: left;
}

.info-box-normal {
    display: flex;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 0px;
    text-align: left;
}

@media (min-width: 768px) {
    .info-box-header, .info-box-normal {
        font-size: 1em; /* Reset the font size */
        width: 90%;
        padding: 40px;
        margin: 0 auto;
    }
}

.info-box-header .info-box-image {
    order: -1;
}

.info-box-image {
    max-width: 33%;
}

.info-box-image img {
    max-width: 100%;
    border-radius: 10px;
}

.info-box-text {
    flex: 1;
    padding-left: 80px;
    max-width: 600px;
    word-wrap: break-word;
}

.info-box-text h1 {
    color: #f1c40f;
    font-size: 3em;
}

.info-box-text h3 {
    color: #ebebeb;
    font-size: 1.5em;
}

.info-box-text p {
    color: #ebebeb;
    font-size: 1.2em;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.cta-button {
    background-color: #f1c40f;
    border: none;
    color: #1c1c1c;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #d4a60c;
    transform: scale(1.1);
}

/* About Me and Achievements */
.about-me, .achievements {
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.about-me h2, .achievements h2 {
    color: #f3f3f3;
    font-size: 2.5em;
}

/* Footer */
footer {
    background-color: #2c2c2c;
    color: #cccccc;
    text-align: center;
    padding: 20px;
}

footer h2 {
    font-size: 2em;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
}

.contact-column {
    flex: 1;
    margin: 10px 20px;
    min-width: 200px;
}

footer a, .contact-info {
    color: #f1c40f;
    text-decoration: none;
}

.footer-bottom {
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
}

@keyframes typing {
    0%, 10% { width: 0; }
    10%, 90% { width: 12.5ch; }
    100% { width: 0; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #f1c40f; }
}
